html {
  overflow-y: scroll;
  height: 100%;
  font-size: 14px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: auto;
  background-color: #f9f9f9;
  height: 100%;
  font-size: 12pt;
}

blockquote {
  border: 1px solid #111;
  background-color: #eee;
  font-family: 'Ubuntu Mono', monospace;
  padding: 0.5em 1.75em;
  font-size: 1em;
  vertical-align: middle;
}

.main {
  margin-top: 0;
  max-width: 80%;
  height: 100%;
}

.main-row {
  height: 100%;
}

.scard {
  background-color: white;
  box-shadow: 0px 0px 15px 1px #e5e5e5;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 45px;
}

.blog-post-time {
  margin-bottom: 1em;
}

.categories-title {
  text-align: center;
  margin-bottom: 1em;
}

.categories {
  border: 1px solid #ccc;
  padding: 1em;
  width: 100%;
  /* box-shadow: 0px 0px 2px 1px #e5e5e5; */
  list-style-type: none;
}

.category {
  display: inline-block;
  background-color: #eef;
  padding: 0.4rem;
  border-radius: 5px;
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
  border: 1px solid #ccc;
}

.content {
  border: 1px solid #ccc;
}

.center {
  margin: 0 auto;
  width: 50%;
}

.vcenter {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.image {
  margin-top: 5em;
  margin-bottom: 5em;
}

#page-title {
  text-align: center;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
  background-color: #f6f8ff;
}

#page-title h1 a {
  color: black;
  font-size: 1.1rem;
}

.post_item:hover {
  background-color: #eef;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

a {
  color: #3453ff;
}

a:visited {
  color: purple;
}

.post_item a:visited, .category a:visited {
  color: #3453ff;
}

.post a {
    color: black;
}

.post a:hover {
  text-decoration: none;
}

#author-name h6 a {
  color: black;
  font-weight: normal;
  font-size: small;
}

.date-time-title {
    font-family: 'Ubuntu Mono', monospace;
}

.blog-post-content {
  padding-top: 1em;
  padding-bottom: 1em;
}

.blog-post h1 {
  margin-bottom: 1em;
  border-bottom: 2px solid #777;
}

.blog-post time {
  text-decoration: underline;
}

.blog-post-content h2 {
  margin-top: 1.5rem;
  margin-bottom: 1em;
  border-bottom: 1px solid #777;
}

.post_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.posts_listing {
  padding-left: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.posts_listing li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  padding-left: 2rem;
}

.posts_listing li:last-child {
  border-bottom: 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  text-decoration: underline;
}

h4  {
  font-size: 1.1rem;
  text-decoration: underline;
}

h5  {
  font-size: 1rem;
}

h6  {
  font-size: 0.8rem;
}

code {
  font-family: 'Ubuntu Mono', monospace;
  white-space: pre;
  overflow-x: auto;
}

pre {
  font-family: 'Ubuntu Mono', monospace;
  border: 1px solid #bbb;
  overflow-x: auto;
  padding: 1rem;
  line-height: 1.35;
  font-size: 1em;
  border: 1px solid #111;
  background-color: #efefef

}

footer  {
  text-align: center;
}

.navbar {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.nav-item {
  display: inline-block;
}

q {
  border: 1px solid grey;
  display: block;
  padding: 1em;
  margin-top: 1.5em;
  background-color: #eef;
}

.subtitle {
  font-size: 0.8em;
  margin-left: 0.5rem;
  color: #009420;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .main {
    max-width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .main {
    max-width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .main {
    max-width: 100%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}